.contenedor{

    width: 100%;
    height: 1400px;
    background-color: blueviolet;

}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: black;
}
.menu{
    width:100% ;
    height: 100px;
    background-color: antiquewhite;
    display: flex;

}
.contenedor2{
    width:100% ;
    height: 1200px;
    background-color: brown;
    display: flex;
}
.izquierdo{
    width: 20%;
    height: 1200px;
    background-color: aqua;
}
.centro{
    width: 60%;
    height: 1200px;
    background-color: black;
}
.derecho{
    width: 20%;
    height: 1200px;
    background-color: aqua;
}
.sociales{
    width: 100px;
    height: 98px;
    background-color: rgb(247, 5, 186);
    margin: 2px;


}
.ingles{
    width: 100px;
    height: 98px;
    background-color: rgb(171, 168, 221);
    margin: 2px;

}
.matematicas{
    width: 100px;
    height: 98px;
    background-color: rgba(52, 128, 16, 0.774);
    margin: 2px;

}
.biologia{
    width: 100px;
    height: 98px;
    background-color: rgb(247, 243, 2);
    margin: 2px;
}
.tecnologia{
    width: 100px;
    height: 98px;
    background-color: brown;
    margin: 2px;
}